doctype html
html
  head
    style
      include ../static/style.css
  body 
  nav#navbar 
    ul 
      li #[a(href = "/") Home]
      li #[a(href = "/") About]
      li #[a(href = "/") Classes Info]
      li #[a(href = "/") Services]
      li #[a(href = "/") Contact us]
  section#introSection 
      div Welcome to Dance Academy .
      div.intro  Oportunity to learn dance with dance star .
  section#missionSection 
      h2  our mission  
      div.card
        h3  Dance perfection  
      div.card
        h3  Dance the way you like
      div.card
        h3  Dance experts
  section#sponsersSection
      h2 Our Sponsers
  footer#footer 
      | our footer here
  script
      include ../static/index.js